{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>eHospital Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    {{ user.media }}
</head>

<body>
  <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color:rgb(241,236,236);padding:10px;height:50px;">
            <div class="container"><a class="navbar-brand" href="{% url 'homepage' %}" style="font-size:20px;"><i class="fa fa-h-square" id="icon" style="font-size:30px;"></i>eHospitalNepal</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a href="#" class="login">About</a><a href="#" class="login">Contact</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'userlogout' %}" class="login">Log Out</a>
                        <a class="btn btn-light action-button" role="button" href="{% url 'dashboard' %}">Dashboard</a></span>
                        {% else %}
                        <a href="{% url 'userlogin' %}" class="login">Log In</a>
                        <a class="btn btn-light action-button" role="button" href="{% url 'patientusersignup' %}">Sign Up</a></span>
                        {% endif %}
    </div>
    </nav>
    </div>

    <div class="team-boxed">
        <div class="container">
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"></div>
                <div class="col-md-6 col-lg-4 item">
                    {% if is_patient %}
                    <div class="box"><img class="rounded-circle" src="{{ user.patient.profile_picture.url }}">
                    {% else %}
                    <div class="box"><img class="rounded-circle" src="{{ user.doctor.profile_picture.url }}">
                    {% endif %}
                        <h3 class="name">{{ user.username }}</h3>
                        {% if is_patient %}
                        <p class="title">Patient</p>
                        <p class="title">Your Balance:{{ patientbalance }}</p>
                        {% else %}
                        <p class="title">Doctor</p>
                        <p class="title">Your Balance:{{ doctorbalance }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item"></div>
            </div>
            <!-- End: People -->
        </div>
    </div>
    <!-- End: Team Boxed -->
    <div></div>

    <div class="container">
        <ul class="nav nav-tabs navbar2" style="background-color:#ebe2e2;">
            <li class="nav-item listitems"><a class="nav-link active" href="{% url 'hospitalsnearby' %}">Find Hospitals Nearby</a></li>
            <li class="nav-item listitems"><a class="nav-link" href="{% url 'makeappointment' %}">Make Appointment</a></li>
            <li class="nav-item listitems"><a class="nav-link" href="{% url 'blogindex' %}">Health Blog</a></li>
        </ul>
        <div></div>
    </div>
    <div class="container">
        <div class="row">
                <div class="list-group col-md-6" id='appointmentlist'>
                        <button type="button" class="list-group-item list-group-item-action active">
                        Appointments
                        </button>
                        {% if appointments %}
                        {% for appointments in appointments %}
                        <button type="button" class="list-group-item list-group-item-action">
                        <p><b>Doctor:</b>{{ appointments.doctor }}</p>
                        <p><b>Date:</b>{{ appointments.date }} at {{ appointments.time }}</p>
                        <p><b>Ticket:</b><a href="{% url 'viewticket' appointments.id %}" >Download Ticket</a></p>
                        </button>
                        {% endfor %}
                        {% endif %}
                        {% if dappointments %}
                        {% for dappointments in dappointments %}
                        <button type="button" class="list-group-item list-group-item-action"> 
                        <p><b>Patient:</b>{{ dappointments.patient_name }}</p>
                        <p><b>Date:</b>{{ dappointments.date }} at {{ dappointments.time }}</p>
                        </button>
                        {% endfor %}
                        {% endif %}
                    </div>
            {% if is_patient %}
            <div class="list-group col-md-6" id='appointmentlist'>
                    <button type="button" class="list-group-item list-group-item-action active">
                    Manage Medical Reports
                    </button>
                    {% if reports %}
                    {% for report in reports %}   
                    <button type="button" class="list-group-item list-group-item-action">
                    <p><b>Report:</b>{{ report.report_name }}</p>
                    <p><b>Date:</b>{{ report.report_date }}</p>
                    <p><a href="{{ user.patient.reportupload.report.url }}"><b><i class="fa fa-eye" id="icon" style="font-size:30px;"></i>Preview</b></a></p>
                    </button>
                    {% endfor %}
                    {% endif %}
                    <a class="btn btn-primary" role="button" href="javascript:window.open('{% url 'reportupload' %}' , 'eHospitalNepal Message', 'width=600,height=500');"><i class="fa fa-folder-open" id="icon" style="font-size:30px;"></i>Upload</a>
                </div>
                {% endif %} 
                <div class="row"></div>
                <div class="list-group col-md-6" id="appointmentlist">
                        <button type="button" class="list-group-item list-group-item-action active">
                        Nearby Hospitals
                        </button>
                        <button type="button" class="list-group-item list-group-item-action" id='nearbyhospital'>
                        <iframe id="encoder_iframe" height=100% width="100%" src="{% url 'nearby' %}" frameBorder='0'>
                        </iframe>
                        </button>
                    </div>
            <div class="container">
            <div class="row">
            <div class="list-group col-md-6" id="appointmentlist">
                    <button type="button" class="list-group-item list-group-item-action active">
                        Need an Ambulance?
                        </button>
                        <a class="btn btn-primary" role="button" id="ambulance" href="javascript:window.open('{% url 'sendsms' %}' , 'eHospitalNepal Ambulance', 'width=600,height=500');"><i class="fa fa-automobile" id="icon" style="font-size:30px;"></i>Call Ambulance</a>
            </div>
            <div class="list-group col-md-6" id="appointmentlist">
                    <button type="button" class="list-group-item list-group-item-action active">
                        Need Pathologist?
                        </button>
                        <a class="btn btn-primary" role="button" id="ambulance" href="javascript:window.open('{% url 'sendsmstest' %}' , 'eHospitalNepal Pathology', 'width=600,height=500');"><i class="fa fa-medkit" id="icon" style="font-size:30px;"></i>Call Pathologist</a>
            </div>
            </div></div>
            </div></div>
            <div class="container">
                    <button type="button" class="list-group-item list-group-item-action active">
                    eHospitalNepal Message
                    </button>
                    <div class="row">
                    <div class="list-group col-md-6" id='appointmentlist'>
                    {% if appointments %}
                    {% for appointment in appointments %}
                    {% for sent in sent%}
                    <button type="button" id="right" class="list-group-item list-group-item-action">
                    <p><b>You:</b>{{ sent.message }}</p>
                    <img class='fluid' src="{{ appointment.image.url }}" width="100px" height="100px" />
                    </button>
                    <button type="button" id="blank" class="list-group-item list-group-item-action"></button>
                    {% endfor %}
                    {% for sent in psent%}
                    <button type="button" id="right" class="list-group-item list-group-item-action">
                    <p><b>You:</b>{{ sent.message }}</p>
                    </button>
                    <button type="button" id="blank" class="list-group-item list-group-item-action">
                        </button>
                    {% endfor %}
                    </div>

                    <div class="list-group col-md-6" id='appointmentlist'>
                    {% for inbox in dinbox%}
                    <button type="button" id="blank" class="list-group-item list-group-item-action">
                    </button>
                    <button type="button" id="left" class="list-group-item list-group-item-action">
                    <p><b>{{ appointment.doctor }}:</b>{{ inbox.message }}<p>
                    </button>
                    {% endfor %}
                    </div>
                    <a class="btn btn-primary action-button" role="button" href="javascript:window.open('{% url 'pmessage' %}' , 'eHospitalNepal Message', 'width=600,height=500');"><i class="fa fa-reply-all" id="icon" style="font-size:30px;"></i>Reply</a>
                    {% endfor %}
                    {% endif %}
                    </div>
                    
                    
                    {% if dappointments %}
                    {% for appointments in dappointments%}
                    <div class="container">
                    <div class="row">
                    <div class="list-group col-md-6" id='appointmentlist'>
                    {% for inbox in inbox%}
                    <button type="button" id="right" class="list-group-item list-group-item-action">
                    <p><b>{{ appointments.patient_name }}:</b>{{ inbox.message }}</p>
                         <img class='fluid' src="{{ appointments.image.url }}" width="100px" height="100px" />
                    </button>
                    <button type="button" id="blank" class="list-group-item list-group-item-action">
                    </button>
                    {% endfor %}
                    {% for inbox in pinbox%}
                    <button type="button" id="right" class="list-group-item list-group-item-action">
                    <p><b>{{ appointments.patient_name }}:</b>{{ inbox.message }}</p>
                    </button>
                    <button type="button" id="blank" class="list-group-item list-group-item-action">
                    </button>
                    {% endfor %}
                    </div>
                    <div class="list-group col-md-6" id='appointmentlist'>
                    {% for sent in dsent%}
                    <button type="button" id="blank" class="list-group-item list-group-item-action">
                    </button>
                    <button type="button" id="left" class="list-group-item list-group-item-action">
                    <p id="left"><b>You:</b>{{ sent.message }}</p>
                    </button>
                    {% endfor %}
                    <div class="row">
                        <div class="list-group col-md-6">
                        <a class="btn btn-primary action-button" role="button" href="javascript:window.open('{% url 'dmessage' %}' , 'eHospitalNepal Message', 'width=600,height=500');"><i class="fa fa-reply-all" id="icon" style="font-size:30px;"></i>Reply</a>
                        </div>
                        <div class="list-group col-md-6">
                        <a class="btn btn-primary" role="button" href="javascript:window.open('{% url 'reportupload' %}' , 'eHospitalNepal Message', 'width=600,height=500');"><i class="fa fa-folder-open" id="icon" style="font-size:30px;"></i>Send Report</a>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
                  </div>
        </div></div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'hospitalsnearby' %}">Nearest Hospitals</a></li>
                            <li><a href="{% url 'makeappointment' %}">Make Appointments</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">eHospitalNepal© 2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
